* {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100px;
    padding: 2% 6%;
    position: relative;
}

nav a span {
    flex: 0;
}

nav img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 36px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding-left: 8px;
}

table, th, td {
    border:1px solid black;
}

/*
Kilder:

nav bar:
https://www.geeksforgeeks.org/how-to-align-a-logo-image-to-center-of-navigation-bar-using-html-and-css/
 */


/* faq */

/* maps */

/* video */
.video {
    width:100%; 
    height:0; 
    position: relative; 
    padding-bottom:56.25%

}

.video iframe {
    width:50%; 
    height:50%; 
    position: absolute; 
    top: 0; 
    left: 0;
    frameborder:"0" 
    border="0" 
    scrolling="no" 
    allowfullscreen allow="autoplay; fullscreen"
}